
.famillyName{
    font-weight: bolder;
    font-size: 23px
}

.fullname{
    font-weight: bolder;
    font-size: 23px;
}
.office{
    font-weight: bolder;
    font-size: 23px;
}

.CreateNewUser{
    text-align: center;
    margin-top: 30px;
}
